;; Hodur data model for stratified variant priors
;; Converted into datomic schema as part of conformity transactional creation of databases

[^{:datomic/tag true}
 default

 Evidence
 [^{:type String} origin
  ^{:type String} variant-type
  ^{:type Gene} gene
  ^{:type Sample :optional true} sample
  ^{:type String :cardinality [0 n]} diseases
  ^{:type String :cardinality [0 n]} drugs]
 Gene
 [^{:type String} name
  ^{:type Location :cardinality [1 n]} location]
 Location
 [^String build
  ^String contig
  ^Int start
  ^Int end]
 Sample
 [^String name]]
